<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Explore</title>
</head>
<body>
   <nav>
  <a href="/">Home</a> |
  <a href="/explore">Explore</a> |
  <a href="/my_bookings">My Bookings</a>
  </nav>

  <section>
  <h1>Explore Movies</h1>
  </section>
  

  <section>
    {% if username and email and password %}
      <p>Username: {{ username }}</p>
      <p>Email: {{ email }}</p>
      <p>Password: {{ password }}</p>
    {% endif %}
  </section>
</body>
</body>
</html>