<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <nav>
  <a href="/">Home</a> |
  <a href="/explore">Explore</a> |
  <a href="/my_bookings">My Bookings</a>
  </nav>

  <section>
  <h1>Welcome to the Movie Bookings App</h1>
  </section>
  

  <section>
    <form method="post", action="/explore"> 
      Username: <input type="text" name="username" required> <br>
      email: <input type="email" name="email" required> <br>
      Password: <input type="password" name="password" required> <br>
      <input type="submit" value="Login">
    </form>
  </section>
</body>
</html>