<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/theater_onbording" method="post">
        <input type="text" name="name" placeholder="Theater Name">
        <input type="text" name="location" placeholder="Theater Location">
        <input type="text" name="movies" placeholder="Movies (comma separated)">
        <input type="submit" value="Submit">
    </form>
</body>
</html>